.start-title {
    font-size: 50px;
    color: #16f82d;
    text-align: center;
    padding-bottom: 100px;
}

.start-button-text {
    font-size: 25px;
    color: black;
    text-align: center;
    text-decoration: none;
    width: inherit;
}

.start-button-container {
    color: #F0EAD6;
    width: 15%;
    background-color: #F0EAD6;
    border-radius: 25px;
    text-align: center;
}